.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

input[type='file'] {
  margin-bottom: 20px;
}

button {
  padding: 15px 25px;
  background-color: #fff;
  color: #555;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

a {
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}

.output {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input[type='file']{
  background-color: #fff;
  padding: 2rem;
  font-size: 16px;
  font-weight: 600;
}

a {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.1);
}
